* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

.container-dad {

    height: 100vh;
    width: 100vw;

}

.container-left {
    display: inline-block;
    width: 70%;
    margin-top: 200px;
    padding-left: 100px;
}

.container-rigth {
    display: inline-block;
    background-color: rgb(213, 213, 215, 0.16);
    position: absolute;
    width: 30%;
    height: 100vh;
}

img {
    width: 330px;
    height: 440px;
    position: relative;
    top: 95px;
    right: 96px;
}

header {
    color: #5D5D7D;
    font-size: 28px;
    font-weight: 400;
    margin-top: 15px;
    margin-left: 25px;
    cursor: pointer;
}

.link-header {
    margin-right: 25px;
}


h1 {
    color: #5D5D7D;
    font-size: 65px;
    font-weight: 400;
    width: 361px;
    line-height: 80px;
}


p {
    color: #5D5D7D;
    opacity: 0.5;
    font-size: 28px;
    font-weight: 400;
    line-height: 48px;
    width: 540px;
    margin: 15px 0 15px 0;
}

button {
    width: 269px;
    height: 62px;
    border: none;
    border-radius: 30px;
    background-color: #9499EA;
    color: #FFFFFF;
    font-size: 24px;
    font: weight 400px;
    cursor: pointer;
}

button:hover {
    border: solid #9499EA;
    background-color: #FFFFFF;
    color: #9499EA;
}

button:active {
    opacity: 0.5;
}

#link-work {
    opacity: 0.6;
}

@media screen and (max-width: 1090px) {

    .link-header {
        margin-right: 29px;
    }

    header {
        font-size: 24px;
    }

    img {
        width: 300px;
        height: 400px;
    }

    h1 {
        font-size: 60px;
        width: 340px;

    }

    p {
        font-size: 25px;
        width: 520px;
    }

    button {
        width: 240px;
        height: 50px;
        font-size: 18px;
    }
}

@media screen and (max-width: 900px) {

    .container-left {
        padding: 0;
        margin: 0;
        height: 50%;
        width: 100%;
    }

    .container-rigth {
        position: static;
        width: 100%;
        height: auto;
        display: block;
        padding: 40px;
    }


    header {
        display: none;
    }

    h1 {
        font-size: 36px;
        line-height: 52px;
        width: 268px;
        margin: 35px auto;
        text-align: center;
    }

    p {
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        width: auto;
        margin: 15px 40px;
    }

    button {

        display: block;
        margin: 0 auto;
    }


    img {
        position: static;
        max-width: 90%;
        height: auto;
    }
}